################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ServicioPingMersol/.vs/ServicioPingMersol/CopilotIndices/0.2.1653.9816
